 <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="TestNG Tests" verbose="3">
    <test name="Client tests">
        <classes>
            <class name="ClientTest"/>
        </classes>
    </test>
    <test name="ServicesClientsTest">
        <classes>
            <class name="ServicesClientsTest"/>
        </classes>
    </test>
    <test name="TransactionTest">
        <classes>
            <class name="TransactionTest"/>
        </classes>
    </test>
    <test name="BillTest">
        <classes>
            <class name="BillTest"/>
        </classes>
    </test>
    <test name="ServiceTest">
        <classes>
            <class name="ServiceTest"/>
        </classes>
    </test>
</suite>